#div{
    height:100%;
    Width:20%;
    background-color: rgba(37, 78, 155, 0.616);
}
a{
    height:auto;
    Width:90%;
}
a:hover { 
    background-color: rgb(13, 228, 217) !important;
    color:black !important;
  }
  div{

    background-color: rgba(11, 19, 32, 0.616);
}
.mg{
    margin-top: 30px;
}
p{color:white;}
.cd{
    margin-top:16%;
}
.card{
    
    background-color:  rgb(13, 228, 217) !important;
}
h1{
    color:white;
}
input{
    color:white;
}