<div class="container-fluid" id="sidebar mt-5">
  <div class="row">
    <div class=" cl1 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <br>
      <br>
      <br>
      <br>
      <a class="btn btn-default btn-lg mg  mt-5" routerLink="/profile" aria-pressed="true"><i class="far fa-user-circle"></i> Profile</a>
      <a class="btn btn-default btn-lg  mt-2" routerLink="/addcar" aria-pressed="true"><i class="fas fa-car-side"></i> Add Car</a>
      <!-- <a class="btn btn-default btn-lg  mt-2" routerLink="/viewcars" aria-pressed="true"><i class="fas fa-car-alt"></i> View Car</a>
      <a class="btn btn-default btn-lg  mt-2" routerLink="/addriver" aria-pressed="true"><i class="far fa-id-card"></i> Add Driver</a>
      <a class="btn btn-default btn-lg  mt-2" routerLink="/viewdriver" aria-pressed="true"><i class="fas fa-id-card"></i> View Driver</a> -->
      <a class="btn btn-default btn-lg  mt-2" routerLink="/products" aria-pressed="true"><i class="fas fa-id-card"></i> Add Product</a>
      <a class="btn btn-default btn-lg  mt-5" routerLink="/login" aria-pressed="true"><i class="fas fa-torah"></i> LogOut</a>
      <br>
      <br>
      <br>
      <div class="mt-4"></div>
      <br>
      <br>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <br>
      <br>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
      <!-- Card -->
    <div class="cd">
      <div class="card  mt-5 ">
        <!-- Card content -->
        <div class="card-body text-center">
          <h1>
            Rental Registration
          </h1>
          <!-- Extended material form grid -->
          <form class="text-center" [formGroup]="addcarform" (ngSubmit)="addcar()">
          <!-- Grid row -->
            <div class="form-row">
              <!-- Grid column -->
              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input type="text" formControlName="name"  class="form-control" id="carname" placeholder="Car Name" >
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input type="text" formControlName="model"  class="form-control" id="carmodel" placeholder="Car Model">
                </div>
              </div>
              <!-- Grid column -->
            </div>
              <!-- Grid row -->
              <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-12">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input type="text" formControlName="driven"  class="form-control" id="cardriven" placeholder="Car Driven">
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-md-12">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input type="text" formControlName="licenseno"  class="form-control" id="licenseno" placeholder="License No">
                </div>
              </div>
            <!-- Grid column -->
            <!-- Grid column -->
              <div class="col-md-12">
          <!-- Material input -->
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" formControlName="carimage" id="carimage" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Upload Car Image</label>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <br>
            <!-- Grid row -->
              <button type="submit" [disabled]="!addcarform.valid" class="btn btn-primary btn-md">Add Your Car</button>
            </form>
            <!-- Extended material form grid -->
          </div>
        </div>
      <!-- Card -->
      </div>
    </div>
  </div>  
</div>
  
  