<div class="container-fluid" id="sidebar mt-5">
  <div class="row">
    <div class=" cl1 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <br>
      <br>
      <br>
      <br>
      <a class="btn btn-default btn-lg mg  mt-5" routerLink="/profile" aria-pressed="true"><i class="far fa-user-circle"></i> Profile</a>
      <!-- <a class="btn btn-default btn-lg  mt-2" routerLink="/addcar" aria-pressed="true"><i class="fas fa-car-side"></i> Add Car</a>
      <a class="btn btn-default btn-lg  mt-2" routerLink="/viewcars" aria-pressed="true"><i class="fas fa-car-alt"></i> View Car</a>
      <a class="btn btn-default btn-lg  mt-2" routerLink="/addriver" aria-pressed="true"><i class="far fa-id-card"></i> Add Driver</a>
      <a class="btn btn-default btn-lg  mt-2" routerLink="/viewdriver" aria-pressed="true"><i class="fas fa-id-card"></i> View Driver</a> -->
      <a class="btn btn-default btn-lg  mt-2" routerLink="/products" aria-pressed="true"><i class="fas fa-id-card"></i> Add Product</a>
      <a class="btn btn-default btn-lg  mt-5" (click)="loguot()" aria-pressed="true"><i class="fas fa-torah"></i> LogOut</a>
      <br>
      <br>
      <br>
      <div class="mt-4"></div>
      <br>
      <br>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <br>
      <br>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <p>Profile here</p>
    </div>
    </div>
  </div>

