
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- Card -->
<div class="card cd mt-5 ">
  <!-- Card content -->
  <div class="card-body text-center">
    <h1>
      Enter Email
    </h1>
<!-- Extended material form grid -->
<form class="text-center" [formGroup]="emailform" (ngSubmit)="emailuser()">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" id="email" placeholder="Email">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
      </div>
    </div>
    </div>
  <button type="submit" [disabled]="!emailform.valid"  class="btn btn-primary btn-md">Submit</button>

</form>
<!-- Extended material form grid -->
  </div>
</div>
<!-- Card -->
    </div>
    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
  </div>
</div>