<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
      <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Card -->
  <div class="card cd mt-5 ">
    <!-- Card content -->
    <div class="card-body text-center">
      <h1>
        Page Not Found
      </h1>

  <!-- Extended material form grid -->
    </div>
  </div>
  <!-- Card -->
      </div>
      <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
    </div>
  </div>