<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- Card -->
<div class="card cd mt-5 ">
  <!-- Card content -->
  <div class="card-body text-center">
    <h1>
      SLAS Register
    </h1>
<!-- Extended material form grid -->
<form class="text-center" [formGroup]="registerform" (ngSubmit)="register()">
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="email" formControlName="email"  class="form-control" id="email" placeholder="Email" >
      </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="password" formControlName="password"  class="form-control" id="password" placeholder="Password">

      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" formControlName="username"  class="form-control" id="username" placeholder="FullName">

      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" formControlName="city"  class="form-control" id="city" placeholder="City">

      </div>
    </div>
    <!-- Grid column -->
        <!-- Grid column -->
    <div class="col-md-12">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type=number formControlName="phoneno" class="form-control" id="phoneno" placeholder="Phone Number">
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
  <button type="submit" [disabled]="!registerform.valid" class="btn btn-primary btn-md">Register</button>
  <button type="submit" routerLink="/login" class="btn btn-primary btn-md">Login</button>
</form>
<!-- Extended material form grid -->
  </div>
</div>
<!-- Card -->
    </div>
    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4 col-xl-4"></div>
  </div>
</div>